.dark {
    background-color: #333;
    color: #faf9f6cd;
}

.dark h2 {
    color: #4f9acf
}

.content {
    width: 600px;
    font-family: 'Times New Roman';
    font-size: 20px;
    line-height: 1.5;
    margin: 0 auto;
}

h1, h2 {
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
}

h2 {
    color: #006EB6;
    text-decoration-color: #006EB6;
    font-size: 20px;
    margin-bottom: 1px;
}

hr {
    margin-top: 0px;
    margin-bottom: 7%;
}

p {
    text-align: left;
}

ol li {
    padding: 1.5%;
}

.logo {
    width: 150px;
    padding-top: 5%;
}

footer {
    text-align: center;
}