@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Lora:ital,wght@0,400..700;1,400..700&family=Patrick+Hand&display=swap');

:root {
  --primary-color: #2E8459;
  --secondary-color: #78A1BB;
  --accent1-color: #EBF5EE;
  --accent2-color: #685a51;

  --heading-font: "Fugaz One", Helvetica, sans-serif;
  --paragraph-font: Montserrat, Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: var(--primary-color); /* headlines on a white background */
  --headline-color-on-color: white; /* headlines on a colored background */
  --paragraph-color-on-white: var(
    --primary-color
  ); /* paragraph text on a white background */
  --paragraph-color-on-color: white; /* paragraph text on a colored background */
  --paragraph-background-color: var(--primary-color);
  --nav-link-color: var(--accent1-color);
  --nav-background-color: var(--secondary-color);
  --nav-hover-link-color: white;
  --nav-hover-background-color: var(--primary-color);
}

body, html {
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--accent2-color);
    font-family: var(--heading-font);
}

header img {
    max-width: 75px;
    border-radius: 80%;
    margin: 10%;
    height: auto;
    justify-self: center;
    margin-left: 100%;
}

nav {
    align-self: center;
    margin-right: 9%;
}

nav a {
    text-decoration: none;
    padding: 10px;
    color: var(--accent1-color);
    font-size: 1.2em;
}

header nav a:hover {
    text-decoration: underline;
}

footer {
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--accent2-color);
    font-family: var(--heading-font);
}

footer a {
    align-self: center;
}

footer a:hover {
    text-decoration: underline;
}

footer a, footer p {
    text-decoration: none;
    padding: 10px;
    color: var(--accent1-color);
    font-size: 1.2em;
}

#hero {
    height: 50%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-message {
    display: flex;
    justify-content: flex-start;
    color: var(--accent1-color);
}

.hero-title {
    background: rgba(0, 0, 0, 0.5);
    padding: 2%;
    margin-left: 2%;
    font-family: var(--heading-font);
}

.insect-card {
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    padding-bottom: 4%;
    border-bottom: 2px solid black;
}

.insect-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    align-self: center;
}

.insect-card p span.title {
    font-family: var(--heading-font);
    font-weight: bold;
}

.insect-card p span.scientific {
    font-style: italic;
    text-decoration: underline;
}

.insect-text {
    text-align: center;
    padding: 2%;
}

.insect-text p {
    line-height: 1.5em;
}

body {
    background-color: var(--accent1-color);
    font-family: var(--paragraph-font);
}

@media (min-width: 700px) {
    .insect-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 5%;
    }
    .insect-card {
        border-right: 2px solid black;
        border-bottom: none;
    }
    .insect-text {
        padding: 5%;
        margin-left: 10%;
    }
    footer {
        margin-top: 0%;
    }
}